<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256246036434-q41uhkbbgn32d40dne31gjb8qdn91k9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256246036434-q41uhkbbgn32d40dne31gjb8qdn91k9o</string>
	<key>API_KEY</key>
	<string>AIzaSyCRBkbTDmHRqPlFF0q3uMTmaKvMrWENUDU</string>
	<key>GCM_SENDER_ID</key>
	<string>256246036434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Artem-Listopadov.by.Exgram</string>
	<key>PROJECT_ID</key>
	<string>exgram-74b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>exgram-74b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256246036434:ios:b7eadfe4f7030e88c73a0b</string>
</dict>
</plist>